
errors.log

# Ignore all .log files
*.log

# ignore specific logging directories
logs/
log/
logging/

## Zebar
/tmp*
tmp*

## Other Repo
nvim/.config/nvim/
polybar/.config/polybar/themes/
windows/glazewm/errors.log
